/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ol {
    list-style: none;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}


input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: black;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*fonts*/

@font-face {
    font-family: 'MV Boli', sans-serif;
    src: url('../fonts/MVBoli.woff2') format('woff2'),
    url('../fonts/MVBoli.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/*header*/

body {
    overflow-x: hidden;
}

.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

.header .container {
    height: 1078px;
}

.header {
    height: 1080px;
    background: url("../img/header/back.png") no-repeat;
    background-size: cover;
}

.burger__menu {
    display: none;
}

.header_menu__first_mobile {
    display: none;
}

.logo.phone {
    display: none;
}

.header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 18px;
    padding-top: 21px;
}

.header_menu__first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 118px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.header_menu__second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 118px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    padding-bottom: 20px;
}

.header_menu__first img {
    margin-right: 90px;
}

.menu__elem {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 72px;
    /* or 344% */

    /* white */

    color: #FFFFFF;
    margin-right: 70px;
    -webkit-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
    transition: color ease 0.3s;
}

.menu__elem:last-child {
    margin-right: 0;
}

.menu__elem:hover {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    /* or 344% */
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;

    /* yellow */

    color: #A8AB1F;
    text-underline-offset: 5px;
    -webkit-transition: color ease 0.3s;
    -o-transition: color ease 0.3s;
    transition: color ease 0.3s;

}

.header_menu__second a:first-child {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    height: 40px;
    width: 140px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_menu__second a:last-child {
    height: 40px;
    width: 140px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    text-transform: uppercase;

    /* dark */

    color: #25251E;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 18px;
}

.header_content {
    margin-top: 241px;
    text-align: center;
}

.header_content p {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 120px;
    line-height: 193px;

    /* white */

    color: #FFFFFF;
}

.header_content span {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 72px;
    line-height: 70px;

    /* white */

    color: #FFFFFF;
    margin-top: 10px;
    display: inline-block;
    width: 800px;
}

.header__scroll {
    position: absolute;
    bottom: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/*offer*/


.offer_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 92px;
    padding-top: 93px;
}

.offer_content__block_first {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    width: 420px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 28px 18px 12px 18px;
}

.offer_content__block_first p {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #25251E;
    padding-bottom: 27px;
}

.offer_content__block_first span {
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    /* or 89% */

    text-align: center;

    /* yellow */

    color: #A8AB1F;
    padding-bottom: 27px;
    width: 330px;
}

.block_first-info {
    padding-bottom: 30px;

    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    /* or 165% */

    text-align: center;

    /* dark */

    color: #25251E;
}


.offer_content__block_first:last-child .block_first-info {
    padding-bottom: 65px;
}


.offer_content__block_first a {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;

    /* dark */

    color: #25251E;
    border: 1px solid #25251E;
    border-radius: 2px;
    width: 375px;
    height: 50px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}


.offer_content__block_first a:hover {
    color: #FFFFFF;
    background: #A8AB1F;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}


.offer_content__block-center {
    background: #1C8161;
    border-radius: 2px;

    width: 420px;
    padding: 28px 23px 20px 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block-center__title {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 40px;

    color: #FFFFFF;
    margin-bottom: 27px;
}

.block-center__decryption {
    margin-bottom: 64px;
    font-family: 'Alegreya';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 25px;
    /* or 89% */

    text-align: center;

    /* white */

    color: #FFFFFF;
    width: 250px;
}

.button_center-block {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    /* identical to box height, or 388% */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 375px;
    height: 50px;
}


.block-center__row_date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.block-center__row_date .datepicker-toggle:first-child {
    margin-right: 23px;
}

.datepicker-toggle {
    position: relative;
    width: 160px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 0 10px;
}

.datepicker-toggle-button {
    width: 19px;
    height: 20px;
    background-image: url('../img/offer/calendar-icon.png');
    background-repeat: no-repeat;
}

.datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.datepicker-output {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    /* or 388% */

    /* white */

    color: #FFFFFF;
}

.block-center__row_dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 117px;
}

.block-center__row_dropdown .dropdown:first-child {
    margin-right: 23px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn_drop-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 160px;
    height: 40px;
    padding: 0 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}

.dropdown-toggle {
    background: transparent;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    /* or 388% */

    /* white */

    color: #FFFFFF;
    display: inline;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    min-width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.btn_drop-down img {
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.btn_drop-down.show img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}


.dropdown-item {
    font-size: 16px;
    font-weight: 400;
    color: #25251E;
    padding: 10px 20px;
    text-align: left;
}

.dropdown-item:hover {
    background-color: #F4F4F4;
}


/*rectangle*/

.rectangle1 {
    background: url("../img/regtangle/1.png") no-repeat;
    background-size: cover;
    height: 342px;
    width: 100%;
}


/*gallery*/


.gallery-photo__row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-photo__row1-img {
    margin-right: 20px;
}

.gallery-photo__row1-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gallery-photo__row1-images__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
}

.gallery-photo__row1-images__block .gallery-img__hover:first-child {
    margin-right: 20px;
}

.gallery-photo__row2 {
    margin-top: 20px;
    height: 100%;
}

.gallery-photo__row2-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.gallery-img__hover {
    background: #A8AB1F;
    width: 100%;
    height: 100%;
    border-radius: 6px;

    position: relative;
    cursor: pointer;
}

.gallery-img__hover img {
    -webkit-transition: opacity ease 0.4s;
    -o-transition: opacity ease 0.4s;
    transition: opacity ease 0.4s;
    opacity: 1;
}

.gallery-img__hover:hover img {
    opacity: 0.3;
    -webkit-transition: opacity ease 0.4s;
    -o-transition: opacity ease 0.4s;
    transition: opacity ease 0.4s;
}

.phone_gallery__img {
    display: none;
}


.gallery-photo__row2-image .gallery-img__hover:first-child {
    margin-right: 23px;
    width: 100%;
}

.gallery-img__hover span {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 21px;
    /* identical to box height, or 60% */

    text-align: center;

    /* white */

    color: #FFFFFF;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.gallery-img__hover:hover span {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
    top: 50%;

}

.gallery-title span {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 97px;
    /* identical to box height */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    /* dark */

    color: #25251E;
    padding: 0 50px;
}

.gallery-title {
    padding-top: 78px;
    padding-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery_show__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 91px;
    padding-top: 80px;
}

.button_gallery {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 62px;
    /* identical to box height, or 388% */
    text-transform: uppercase;

    /* dark */
    border: 1px solid #25251E;
    border-radius: 2px;
    color: #25251E;
    width: 420px;
    height: 55px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.button_gallery:hover {
    background: #A8AB1F;
    color: white;
    border: 1px solid #FFFFFF;
}


/*rectangle2*/

.rectangle2 {
    background: url("../img/regtangle/2.png") no-repeat;
    background-size: cover;
    height: 342px;
    width: 100%;
}

/*free*/

.free__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 113px;
    padding-bottom: 80px;
}

.free__title span {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 60px;
    line-height: 97px;
    text-align: center;

    color: #25251E;
    padding: 0 50px;
}

.free__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 125px;
}

.free__content-block {
    width: 420px;
    height: 310px;

    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    margin-right: 20px;
    margin-bottom: 21px;
}

.free__content-block:nth-child(3) {
    margin-right: 0;
}

.free__content-block__circle {
    background: #1c8161;
    border-radius: 100px;

    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.svg-img path {
    fill: white; /* Замените на желаемый цвет заливки */
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.free__content-block {
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.free__content-block:hover .svg-img path {
    fill: #a8ab1f; /* Замените на желаемый цвет заливки */
}

.free__content-block__circle {
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.free__content-block:hover .free__content-block__circle {
    background: #ffffff;
}

.free__content-block:hover {
    background: #A8AB1F;
}

.free__content-block span {
    -webkit-transition: linear all 0.3s;
    -o-transition: linear all 0.3s;
    transition: linear all 0.3s;
}

.free__content-block:hover span {
    color: #FFFFFF;
}

.free__content-block {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    line-height: 70px;
    /* or 280% */
    color: #25251E;

}

.free__content-block__circle svg {
    max-width: 95px;
    max-height: 95px;
}

/*rectangle3*/

.rectangle3 {
    background: url("../img/regtangle/3.png") no-repeat;
    background-size: cover;
    height: 342px;
    width: 100%;
}

/*footer*/

.footer_content {
    padding-top: 93px;
    padding-bottom: 50px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-bottom: 1px solid #25251E;
}

.footer_block-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer_content_block {
    margin-right: 35px;
    width: 405px;
    height: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_content_block.last {
    margin-right: 0;
}

.footer_content_block-title {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 30px;

    /* dark */

    color: #25251E;
    margin-bottom: 40px;
}


.footer_content_block-address {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    /* dark */

    color: #25251E;
    margin-bottom: 25px;
}


.footer_content_block-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_content_block-number a {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    /* dark */

    color: #25251E;
}

.footer_content_block-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 25px 0;
}

.footer_content_block-mail a {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    /* dark */

    color: #25251E;
}

.footer_content_block-mail img, .footer_content_block-number img {
    margin-right: 10px;
}

.footer_content_block-social a {
    margin-left: 20px;
}

.footer_content_block-social a:first-child {
    margin-left: 0;
}

.footer_content_block-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_content_block-page a {
    font-family: 'MV Boli', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 161% */

    /* dark */

    color: #25251E;
    margin-bottom: 30px;
}

.footer_content_block-page a:last-child {
    margin-bottom: 0;
}

.footer_content_block-page a:hover {
    color: #A8AB1F;
}

.footer_content_block-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.footer-copyright span {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 70px;
    /* or 318% */


    /* dark */

    color: #25251E;
}

.footer-copyright-scroll {
    position: absolute;
    bottom: 50%;
    right: 0;
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
}


/*media*/

@media (max-width: 1320px) {
    .container {
        width: 1100px;
    }

    /*header*/
    .header_menu__first img {
        margin-right: 50px;
    }

    .menu__elem {
        margin-right: 40px;
    }

    .header .container {
        height: 950px;
    }

    .header {
        height: 950px;
    }

    .header_content {
        margin-top: 160px;
    }


    /*offer*/
    .offer_content__block_first {
        width: 350px;
    }

    .offer_content__block-center {
        width: 350px;
    }

    .offer_content__block_first a {
        width: 300px;
    }

    .button_center-block {
        width: 300px;
    }

    .datepicker-toggle {
        width: 145px;
    }

    .btn_drop-down {
        width: 145px;
    }

    .block-center__row_dropdown {
        margin-bottom: 195px;
    }

    .offer_content__block_first:last-child .block_first-info {
        padding-bottom: 120px;
    }


    .offer_content__block-center {
        padding-bottom: 12px;
    }


    /*gallery*/
    .gallery-photo__row2-image .gallery-img__hover:first-child {
        width: auto;
    }

    .gallery-img__hover img {
        width: 100%;
        height: 100%;
    }

    .gallery-img__hover {
        width: auto;
        height: auto;
    }

    /*free*/
    .free__content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .free__content-block:nth-child(4) {
        margin-right: 0;
        margin-left: 20px;
    }

    .free__content-block:nth-child(2) {
        margin-right: 0;
    }

    /*footer*/
    .footer_content_block {
        width: 305px;
    }
}

@media (max-width: 1110px) {
    .container {
        width: 980px;
    }

    /*header*/
    .header_menu__first img {
        margin-right: 40px;
    }

    .menu__elem {
        margin-right: 25px;
    }

    .header .container {
        height: 850px;
    }

    .header {
        height: 850px;
    }

    .header_content {
        margin-top: 140px;
    }

    .header_content p {
        font-size: 90px;
        line-height: 120px;
    }

    /*offer*/
    .offer_content__block_first {
        width: 315px;
        height: 520px;
    }

    .offer_content__block-center {
        width: 315px;
        height: 520px;
    }

    .offer_content__block_first a {
        width: 250px;
    }

    .button_center-block {
        width: 250px;
    }

    .datepicker-toggle {
        width: 120px;
    }

    .btn_drop-down {
        width: 120px;
    }

    .offer_content__block_first span {
        font-size: 21px;
        line-height: 30px;
        width: 270px;
        padding-bottom: 20px;
    }

    .block-center__row_dropdown {
        margin-bottom: 137px;
    }

    .block-center__title {
        margin-bottom: 20px;
    }

    .offer_content__block_first:last-child .block_first-info {
        padding-bottom: 65px;
    }

    .datepicker-output {
        line-height: 20px;
        font-size: 13px;
    }


    .offer_content__block-center {
        padding-bottom: 12px;
    }


    .block_first-info {
        font-size: 16px;
        line-height: 24px;
    }

    .block-center__decryption {
        font-size: 21px;
        line-height: 30px;
    }

    .offer_content__block_first p {
        font-size: 35px;
        line-height: 35px;
        padding-bottom: 20px;
    }

    /*.rectangle*/
    .rectangle1, .rectangle2, .rectangle3 {
        height: 290px;
        background-position: center;
    }

    /*gallery*/
    .gallery-title span {
        font-size: 55px;
    }

    .gallery-img__hover span {
        font-size: 27px;
    }

    /*footer*/
    .footer_content_block {
        margin-right: 42px;
    }

    .footer_content_block.last {
        width: 100%;
    }

    .footer_content_block:last-child {
        width: 170px;
    }
}

@media (max-width: 990px) {
    .container {
        width: 768px;
    }

    /*header*/
    .header_menu__second {
        display: none;
    }

    .header_menu {
        justify-content: normal;
        display: block;

        padding-bottom: 15px;
        padding-top: 0;
    }

    .header_menu__first {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .header_menu__first img {
        margin-right: 0;
    }

    .menu__elem {
        margin-right: 0;
    }

    .header_menu__first img {
        width: 90px;
    }

    .header_content p {
        font-size: 70px;
        line-height: 80px;
    }

    .header_content span {
        font-size: 50px;
        width: 500px;
    }

    .header_content {
        margin-top: 185px;
    }

    /*offer*/
    .offer_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .datepicker-output {
        font-size: 16px;
    }
    .offer_content__block_first, .offer_content__block-center {
        width: 100%;
        height: 500px;
    }

    .offer_content__block-center {
        margin: 20px 0;
    }

    .block-center__row_dropdown {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .btn_drop-down {
        width: 500px;
    }

    .dropdown {
        margin-bottom: 20px;
    }

    .datepicker-toggle:first-child {
        margin-bottom: 20px;
    }

    .datepicker-toggle {
        width: 500px;
    }

    .block-center__row_date {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .offer_content__block_first span {
        width: 400px;
    }

    .block-center__title {
        margin-bottom: 20px;
    }

    .block-center__decryption {
        margin-bottom: 30px;
    }

    .block-center__row_date .datepicker-toggle:first-child {
        margin-right: 0;
    }

    .block-center__row_dropdown .dropdown:first-child {
        margin-right: 0;
    }

    .block-center__row_dropdown {
        margin-bottom: 10px;
    }

    .block_first-info {
        padding-bottom: 45px;
    }

    .rectangle1, .rectangle2, .rectangle3 {
        height: 250px;
        background-position: center;
    }

    /*gallery*/
    .gallery-title {
        padding-bottom: 30px;
    }

    .gallery_show__button {
        padding-top: 40px;
    }


    /*free*/
    .free__content-block {
        width: 366px;
    }

    .free__title span {
        font-size: 55px;
        line-height: 70px;
    }

    .free__title {
        padding-bottom: 40px;
    }

    .free__content {
        padding-bottom: 85px;
    }

    /*footer*/
    .footer_content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .footer_block-reverse .footer_content_block:first-child {
        margin-right: 76px;
        width: 350px;
    }

    .footer_content_block:nth-child(2) {
        margin-right: 0;
    }

    .footer_content_block.last {
        width: 420px;
        margin-top: 30px;
    }

    .footer_block-reverse .footer_content_block:last-child {
        width: 340px;
    }

    .footer_content_block {
        margin-right: 0;
    }

}


@media (max-width: 778px) {
    .container {
        width: 100%;
    }

    /*header*/
    .header_menu {
        border-bottom: 1px solid transparent;
    }

    .header_menu__first_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 55px;
    }

    .header_menu__first {
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%);
        opacity: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        visibility: hidden;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #1c8161;
        z-index: 999;
        height: 479px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    .burger__menu {
        display: block;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
        top: 15px;
        left: 15px;

        width: 32px;
        height: 32px;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        padding-top: 2px;
    }

    .bar:first-child {
        display: block;
        width: 11px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px 0;
        -webkit-transform: translate(11px, 0px);
        -ms-transform: translate(11px, 0px);
        transform: translate(11px, 0px);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    .bar:nth-child(2) {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px 0;
        -webkit-transform: translate(6px, 0px);
        -ms-transform: translate(6px, 0px);
        transform: translate(6px, 0px);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        opacity: 1;
        visibility: visible;
    }

    .bar:nth-child(3) {
        display: block;
        width: 11px;
        height: 2px;
        background-color: #ffffff;
        margin: 5px 0;
        -webkit-transform: translate(8px, 0px);
        -ms-transform: translate(8px, 0px);
        transform: translate(8px, 0px);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    .show .bar:first-child {
        -webkit-transform: translate(7px, 7px) rotate(-45deg);
        -ms-transform: translate(7px, 7px) rotate(-45deg);
        transform: translate(7px, 7px) rotate(-45deg);
        width: 16px;
    }

    .show .bar:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }

    .show .bar:nth-child(3) {
        -webkit-transform: translate(7px, -7px) rotate(45deg);
        -ms-transform: translate(7px, -7px) rotate(45deg);
        transform: translate(7px, -7px) rotate(45deg);
        width: 16px;
    }

    .burger__menu--open .header_menu__first {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }

    .menu__first_mobile__img img {
        width: 40px;
        height: 40px;
    }

    .menu__first_mobile__img:nth-child(3) {
        margin-right: 0;
    }

    .menu__first_mobile__img {
        margin-right: 20px;
    }


    .menu__first_mobile__img img:last-child {
        margin-right: 0;
    }

    .logo {
        width: 62px;
        margin-bottom: 50px;
    }

    .menu__elem {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 25px;
    }

    .menu__elem:nth-child(5) {
        margin-bottom: 0;
    }

    body.stop {
        overflow: hidden;
    }

    .header_menu__first_back {
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        opacity: 0;
    }

    .header_menu__first_back.burger__menu--open {
        position: relative;
        background: RGB(0, 0, 0, 0.8);
        height: 100vh;
        opacity: 1;
        z-index: 10;
    }

    .header_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .logo.phone {
        display: block;
        margin-bottom: 27px;
    }

    .logo.phone img {
        width: 62px;
    }

    .header_content p {
        font-size: 35px;
        line-height: 56px;
    }

    .header_content span {
        font-size: 25px;
        line-height: 24px;
        margin-top: 0;
        max-width: 340px;
    }

    .header__scroll {
        display: none;
    }

    .header {
        height: 296px;
    }

    .container .header {
        height: 296px;
    }

    .header_content {
        margin-top: 15px;
    }


    /*offer*/
    .offer .container {
        padding: 0 15px;
    }

    .offer_content {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .datepicker-toggle {
        width: 280px;
    }

    .offer_content__block_first span {
        width: 100%;
    }

    .btn_drop-down {
        width: 280px;
    }

    .offer_content__block_first, .offer_content__block-center {
        height: 460px;
    }

    .offer_content__block-center, .offer_content__block_first {
        padding: 16px 18px 28px 18px;
        max-width: 360px;
    }


    .offer_content__block_first {
        font-size: 35px;
        line-height: 70px;
        padding-bottom: 20px;
    }

    .offer_content__block_first span {
        font-size: 25px;
        line-height: 21px;
    }

    .block_first-info {
        font-size: 16px;
        line-height: 21px;

        padding-bottom: 35px;
        max-width: 320px;
    }

    .offer_content__block_first:last-child .block_first-info {
        padding-bottom: 35px;
        max-width: 260px;
    }

    .block-center__title {
        font-size: 35px;
        line-height: 35px;
    }

    .block-center__decryption {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 25px;
    }

    .datepicker-toggle:first-child {
        margin-bottom: 23px;
    }

    .block-center__row_dropdown {
        margin-top: 23px;
    }

    .dropdown {
        margin-bottom: 23px;
    }

    .block-center__row_dropdown {
        margin-bottom: 0;
    }

    .datepicker-output {
        font-size: 16px;
        line-height: 62px;
    }

    .button_center-block, .offer_content__block_first a {
        font-size: 16px;
        line-height: 62px;
        width: 280px;
        height: 40px;
        text-transform: uppercase;
    }


    /*.rectangle1*/
    .rectangle1, .rectangle2, .rectangle3 {
        height: 162px;
    }


    /*gallery*/
    .gallery .container {
        padding: 0 15px;
    }

    .gallery-photo__row2-image {
        width: 100%;
    }

    .gallery-photo__row2-image .gallery-img__hover {
        width: 50%;
    }

    .gallery-photo__row2-image .gallery-img__hover:first-child {
        width: 50%;
        margin-right: 8px;
    }

    .gallery-photo__row2-image .gallery-img__hover:first-child img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 6px;
    }

    .gallery-photo__row1-img {
        margin-right: 0;
    }

    .gallery-photo__row1-img .gallery-img__hover:first-child {
        display: none;
    }

    .phone_gallery__img {
        display: block;
        padding: 7px 0;
    }

    .phone_gallery__img .gallery-img__hover img {
        max-height: 360px;
        height: auto;
    }

    .gallery-photo__row2 {
        margin-top: 0;
    }

    .gallery-photo__row1-images__block {
        margin-top: 8px;
    }

    .gallery-photo__row1-images__block .gallery-img__hover:first-child {
        margin-right: 8px;
    }

    .gallery-title img {
        width: 33px;
    }

    .gallery-title {
        padding: 25px 0;
    }

    .gallery-title span {
        font-size: 30px;
        line-height: 48px;
        padding: 0 20px;
    }

    .button_gallery {
        font-size: 16px;
        line-height: 62px;
        width: 310px;
        height: 55px;
    }

    .gallery_show__button {
        padding-top: 32px;
        padding-bottom: 40px;
    }

    /*free*/
    .free__content-block {
        width: 155px;
        height: 165px;
    }

    .free__title span {
        font-size: 55px;
        line-height: 70px;
    }

    .free__title {
        padding-top: 37px;
        padding-bottom: 25px;
    }

    .free__title img {
        width: 33px;
    }

    .free__title span {
        font-size: 30px;
        line-height: 48px;

        padding: 0 20px;
    }

    .free__content {
        padding-bottom: 31px;
        justify-content: normal;
        max-width: 330px;
    }

    .free__content-block__circle svg {
        max-width: 50px;
        max-height: 50px;
    }

    .free__content-block__circle {
        width: 81px;
        height: 81px;
    }

    .free__content-block span {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .free__content-block__circle {
        margin-bottom: 20px;
    }

    .free__content-block:nth-child(5) {
        margin-right: 0;
    }

    .free__content-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }


    /*footer*/
    .footer .container {
        padding: 0 15px;
    }

    .footer_content {
        padding-top: 37px;
        padding-bottom: 35px;
    }

    .footer_content_block-title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 35px;
    }

    .footer_block-reverse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer_content_block-page a {
        font-size: 18px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .footer_block-reverse .footer_content_block:first-child {
        margin-top: 36px;
        margin-right: 0;
        width: 100%;
        height: 100%;
    }

    .footer_content_block-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer_content_block {
        width: 100%;
    }

    .footer_content_block.last {
        width: 100%;
        height: 100%;

        margin-top: 50px;
    }

    .footer_content_block-map {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer_content_block.last img {
        width: 330px;
    }

    .footer_content_block {
        width: 100%;
    }

    .footer_block-reverse .footer_content_block:last-child {
        width: 100%;
    }

    .footer-copyright {
        justify-content: normal;
        text-align: left;
        padding-top: 16px;
        padding-bottom: 29px;
    }

    .footer-copyright span {
        font-size: 21px;
        line-height: 30px;
        max-width: 255px;
    }

}

@media screen and (orientation: landscape) {
    .header_menu__first_back.burger__menu--open {
        overflow: auto;
    }
}